--
-- PostgreSQL database dump
--

\restrict vV2HD7hYjcuLE67PZBXMLDmLmodIcB2HSMreWOr3gcfTl18vGtfoBnVZblcZNvd

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_active boolean,
    updated_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    full_name character varying(255),
    password character varying(255) NOT NULL,
    remember_token character varying(255)
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.admins ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.admins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employes (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_active boolean,
    updated_at timestamp(6) without time zone,
    address character varying(255),
    city character varying(255),
    department character varying(255),
    email character varying(255),
    first_name character varying(255) NOT NULL,
    has_user_account boolean,
    hire_date date,
    last_name character varying(255) NOT NULL,
    phone character varying(255),
    "position" character varying(255),
    postal_code character varying(255),
    qr_code_data character varying(255),
    registration_number character varying(255) NOT NULL
);


ALTER TABLE public.employes OWNER TO postgres;

--
-- Name: employes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: presences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.presences (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_active boolean,
    updated_at timestamp(6) without time zone,
    action character varying(255) NOT NULL,
    date_presence date NOT NULL,
    heure_presence time(6) without time zone NOT NULL,
    matricule character varying(255) NOT NULL,
    nom character varying(255) NOT NULL,
    notes character varying(255),
    scan_method character varying(255),
    status character varying(255) NOT NULL,
    employe_id bigint
);


ALTER TABLE public.presences OWNER TO postgres;

--
-- Name: presences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.presences ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.presences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_active boolean,
    updated_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    full_name character varying(255),
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (id, created_at, is_active, updated_at, email, full_name, password, remember_token) FROM stdin;
1	2025-12-30 13:04:31.616299	t	2025-12-30 13:04:31.616299	admin@system.com	Super Admin	$2a$10$U2z4Lknl1XFbO3V84jVP6uTXy7AjzfBgURVxgPC6GI4AhOAMfUosC	\N
\.


--
-- Data for Name: employes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: presences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, created_at, is_active, updated_at, email, full_name, password) FROM stdin;
1	2025-12-31 11:34:04.841685	t	2025-12-31 11:34:04.841685	apedoyaovi@gmail.com	kass├®gn├® yaovi APEDO	$2a$10$WuRIXMprfI86XpsmcAWR0.kQ3rNW8r3V4C8r2TLKuw8CMD5xjICYC
2	2025-12-31 13:14:34.97441	t	2025-12-31 13:14:34.97441	admin@gmail.com	Daniel Amegakpo 	$2a$10$/403nQCCuU0tKkEwkF5jjeMy500yDZeRtuzY64pylIEZKlUch/Hsy
3	2025-12-31 13:45:19.587066	t	2025-12-31 13:45:19.587066	apedoyaovi143@gmail.com	kass├®gn├® yaovi APEDO	$2a$10$awB22lnG2HK85QyOrXWUy.LbnXTLJHs.pgsENaO1nx.pjqFToTNPa
\.


--
-- Name: admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admins_id_seq', 1, true);


--
-- Name: employes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employes_id_seq', 4, true);


--
-- Name: presences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.presences_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: employes employes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employes
    ADD CONSTRAINT employes_pkey PRIMARY KEY (id);


--
-- Name: presences presences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.presences
    ADD CONSTRAINT presences_pkey PRIMARY KEY (id);


--
-- Name: employes uk3v0uyo0bds0i1s553pjkiewvv; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employes
    ADD CONSTRAINT uk3v0uyo0bds0i1s553pjkiewvv UNIQUE (email);


--
-- Name: admins uk47bvqemyk6vlm0w7crc3opdd4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT uk47bvqemyk6vlm0w7crc3opdd4 UNIQUE (email);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: employes ukavdnd0cpk38ume8ls1uisc9x; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employes
    ADD CONSTRAINT ukavdnd0cpk38ume8ls1uisc9x UNIQUE (registration_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: presences fkhppi2n16tojxo65oanqhemen2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.presences
    ADD CONSTRAINT fkhppi2n16tojxo65oanqhemen2 FOREIGN KEY (employe_id) REFERENCES public.employes(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vV2HD7hYjcuLE67PZBXMLDmLmodIcB2HSMreWOr3gcfTl18vGtfoBnVZblcZNvd

